# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
build
*.xcodeproj
Net.xcodeproj/project.pbxproj
*.pbxproj
*.map
PCS
*.pbxproj
*.pbxproj
Net.xcodeproj/project.pbxproj
